@namespace GesinflotOpsHub.Web.Components

<div class="kpi-card kpi-@Color">
    <div class="kpi-icon-wrap">
        <Icon Name="@IconName" Class="icon-lg" />
    </div>
    <div class="kpi-body">
        <div class="kpi-value">@Value</div>
        <div class="kpi-title">@Title</div>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string Value { get; set; } = "";
    [Parameter] public string Color { get; set; } = "blue";
    [Parameter] public string IconName { get; set; } = "bar-chart";
}
