<AuthorizeView>
    <Authorized>
        <nav class="nav-menu">
            <div class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <Icon Name="dashboard" Class="icon-md" /> Dashboard
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="expedientes">
                    <Icon Name="folder" Class="icon-md" /> Expedientes
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="intervenciones">
                    <Icon Name="tool" Class="icon-md" /> Intervenciones
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="planificacion">
                    <Icon Name="calendar" Class="icon-md" /> Planificación
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="clientes">
                    <Icon Name="building" Class="icon-md" /> Clientes
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="instaladores">
                    <Icon Name="users" Class="icon-md" /> Instaladores
                </NavLink>
            </div>

            <AuthorizeView Roles="Administrador,Operaciones,Direccion" Context="innerCtx">
                <div class="nav-section-title">Administración</div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="usuarios">
                        <Icon Name="settings" Class="icon-md" /> Usuarios
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="odoo">
                        <Icon Name="link" Class="icon-md" /> Odoo Sync
                    </NavLink>
                </div>
            </AuthorizeView>
        </nav>
    </Authorized>
    <NotAuthorized>
        <nav class="nav-menu">
            <div class="nav-item">
                <a class="nav-link" href="Identity/Account/Login">
                    <Icon Name="user" Class="icon-md" /> Acceder
                </a>
            </div>
        </nav>
    </NotAuthorized>
</AuthorizeView>
